:root {
    --primary: purple;
    --secondary: white;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:dimgrey;
}

.header {
    margin: 5%;
    text-align: center;
    color:var(--primary);
    font-size: 225%;
}

.sub-title {
    text-align: center;
    color: var(--secondary);
    margin: 5%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards > div {
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    padding: 1%;
    margin: 2%;
}

.cards > h2 {
    color: var(--primary)
}